@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/colors" as *;
.description {
  padding: 0rem $padding-default;
  &__title {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 0rem;
    border-bottom: $border;
  }
  &__details {
    &-container {
      border-bottom: $border;
      padding: 1rem 0rem;
      display: flex;
      flex-wrap: wrap;
      row-gap: 1rem;
    }
  }
  &__data {
    width: 50%;
    font-size: 0.8rem;
    color: $font-light;
    align-items: center;
    &--channel {
      font-weight: bold;
      color: black;
    }
    &--image {
      margin-right: 0.5rem;
    }
    &-likes {
      display: flex;
    }
    &-views {
      display: flex;
    }
    &--likesimage{
      margin-left: 0.15rem;
      margin-right: 0.66rem;
    }
  }

  &__text {
    font-size: 0.84rem;
    padding: 1rem 0rem;
  }
  @include tablet {
    &__title {
      font-size: 2rem;
      border-bottom: none;
      padding-top: 2rem;
      padding-bottom: 0rem;
    }
    &__data {
      white-space: nowrap;
      width: auto;
      font-size: 0.8rem;
      &--channel {
        order: -2;
      }
      &--time {
        order: -1;
        width: 100%;
      }
    }
    &__details {
      &-container {
        flex-wrap: nowrap;
        justify-content: space-between;
        column-gap: 2rem;
      }
    }
    &__text {
      font-size: 0.9rem;
      padding-top: 1rem;
      padding-bottom: 0.5rem;
      line-height: 1.4rem;
    }
  }
  @include desktop{
    padding: 0;
    &__details{
      &-container{
        padding-right: $padding-default;
      }
    }
    &__text{
      padding-right: $padding-default;
      font-size: 1rem;
      line-height: 1.2rem;
    }
  }
}
