@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/colors" as *;

.comments {
  padding: 0rem $padding-default;
  &--number {
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
}
.comment {
  display: flex;
  border-bottom: $border;
  padding: 1rem 0rem;

  &__title {
    color: $font-light;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
  &__profile {
    margin: 0;
  }
  &__icon {
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: left;
    margin: 0;
    background: red;
    margin-right: 1rem;
    margin-top: 1.5rem;
  }
  &__anon {
    background-color: $unavailable;
    margin-top: 0;
  }

  &__button {
    background-image: url("../../../assets/images/add_comment.svg");
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px;
    width: 100%;
    margin-top: 0.7rem;
  }
  &__data {
    width: 100%;

    &--name {
      font-weight: bold;
      font-size: 0.8rem;
    }
    &--date {
      color: $font-light;
      margin-bottom: 0.5rem;
    }
    &--absolute {
      visibility: hidden;
      position: absolute;
      z-index: 1;
      color: white;
      background-color: black;
      border-radius: $border-radius;
      padding: 0.5rem;
      top: 25px;
      left: -50%;
    }
    &--relative {
      position: relative;
      display: inline-block;
      &:hover {
        .comment__data--absolute {
          visibility: visible;
        }
      }
    }
  }
  &__input {
    width: 100%;
    padding: 0.5rem 1rem;
    font-weight: bold;
    background-color: $input-background;
    border-radius: $border-radius;
    &::placeholder {
      color: $font-dark;
      opacity: 1;
    }
  }

  &__heading {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    font-size: 0.84rem;
  }

  @include tablet {
    padding: 1.75rem 0rem;
    display: flex;
    justify-content: space-between;
    line-height: 1.25rem;
  
    &__add {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__button {
      width: 25rem;
      padding-left: 0.5rem;
      flex-shrink: 1;
      font-size: 0.7rem;
      margin: 0;
      margin-left: 1.5rem;
      height: 2.5rem;
    }
    &__input{
      width: 200%;
      height: 2.5rem;
    }
  }
}
