@use "partials/colors" as *;
@use "partials/fonts" as *;
@use "partials/variables" as *;
@use "partials/mixins" as *;

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: $font-dark;
}

body {
  font-family: "AvenirNext LT Pro", Arial, Helvetica, sans-serif;
  margin: 0;
  background: $background;
}

.button {
  border: 0;
  text-align: center;
  padding: 0.7rem;
  background-color: $button-color;
  border-radius: $border-radius;
  color: $button-text;
  text-transform: uppercase;
  font-weight: bold;
  &:hover {
    cursor: pointer;
    background-color: $button-hover;
  }
  &--text {
    color: $button-text;
  }
  &__delete {
    padding: 0.5rem;
    &:hover {
      cursor: pointer;
      background-color: $error-color;
    }
  }
}

.tooltip {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: auto;
  color: white;
  font-size: 12px;
  background-color: black;
  border-radius: $border-radius;
  padding: 0.5rem;
  top: 25px;
  left: 0%;
}
.hover:hover .tooltip {
  visibility: visible;
}

.hover {
  position: relative;
  display: inline-block;
  text-align: center;
}

.label {
  color: $font-light;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.textbox {
  font-weight: bold;
  background-color: $input-background;
  border-radius: $border-radius;
  border: $input-border;
  padding: 0.7rem;
  resize: none;
  font-family: "AvenirNext LT Pro", Arial, Helvetica, sans-serif;
  &::placeholder {
    color: $font-dark;
    opacity: 1;
  }
}

.invalid {
  border-color: $error-color;
  animation: shakeItUp 0.25s;
}

@keyframes shakeItUp {
  0% {
    transform: translateX(-20px);
  }

  50% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }
}
