@use "partials/colors" as *;
@use "partials/fonts" as *;
@use "partials/variables" as *;
@use "partials/mixins" as *;

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-family: "AvenirNext LT Pro", Arial, Helvetica, sans-serif;
  margin: 0;
  background: $background;
}

.button {
  border: 0;
  text-align: center;
  padding: 0.7rem;
  background-color: $button-color;
  border-radius: $border-radius;
  color: $button-text;
  text-transform: uppercase;
  font-weight: bold;
  &:hover {
    cursor: pointer;
    background-color: $button-hover;
  }
}
