@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  background-color: $background;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem $padding-default;
  justify-content: space-between;
  align-items: center;
  &__logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  &__search {
    width: 83%;
  }
  &__input {
    width: 100%;
    padding: 10px;
    padding-left: 38px;
    border: $input-border;
    font-size: 0.7rem;
    background-image: url("../../assets/images/search.svg");
    background-repeat: no-repeat;
    background-position: 10px center;
    font-weight: $font-bold;
    border-radius: $border-radius;
    background-color: $input-background;
    margin-bottom: 1rem;
  }
  &__profile {
    margin: 0;
    position: relative;
    top: -0.4rem;
  }
  &__icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    object-position: left;
    margin: 0;
  }

  &__upload {
    width: 100%;
    background-image: url("../../assets/images/upload.svg");
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px;
    margin-bottom: 0.3rem;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      background-color: $button-hover;
    }
  }
  @include tablet {
    flex-wrap: nowrap;
    gap: 5%;
    &__img {
      width: 120px;
    }
    &__logo {
      justify-content: flex-start;
      margin: 0;
      margin-left: 1%;
    }

    &__profile {
      order: 1;
      margin: 0;
    }

    &__input {
      margin: 0;
      margin-left: -2.5rem;
      width: 15rem;
    }
    &__upload {
      width: 25rem;
      margin: 0;
    }
    &__profile {
      position: static;
    }

    &__icon {
      margin-left: -1rem;
      width: 40px;
      height: 40px;
    }
  }

  @include desktop {
    &__logo {
      margin-left: 7%;
    }
    &__input {
      margin-left: 25%;
      flex-grow: 1;
    }
    &__upload {
      width: 30%;
      margin: 0;
    }
    &__icon {
      margin-right: 5rem;
    }
  }
}
