@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.video {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__player {
    width: 100%;
    height: 11.2rem;
    max-height: 100vh;
    aspect-ratio: 16 / 9;
  }
   &__controls{
    display: flex;
   }

   .progress{
    &__text{
      color: white;
    }
   }


  @include tablet {
    &__player {
      height: 24rem;
    }
  }
  @include desktop {
    &__player {
      height: 30rem;
    }
  }
}


